---
layout: base
permalink: /index.html
title: 'Marko Golovko - Software Engineer'
description: "I'm software engineer with bias to machine learning"
blog:
  title: 'Blog'
  intro: "I'm showing the last 4 blog posts, but there might be more!"
---

<div class="wrapper">
  <header class="full full-height section">
    <h1 class="text-center">Solving problems with software solutions</h1>
  </header>
  <article class="full | region">
    <div class="wrapper flow prose">
      <p>
        I’m a Software Engineer focused on building robust, scalable systems with an interest in data-driven and quantitative problem-solving. My work centers around backend development, system design, and analytical tooling, with a strong emphasis on clean architecture and maintainable code.
      </p>
  </article>
  <!-- <section class="full | region">
    <div class="wrapper flow prose">
      <h2>{{ blog.title }}</h2>
      blog intro text is optional.
      {% if blog.intro %}
        <p>{{ blog.intro }}</p>
      {% endif %}
      <div class="feature |  region">
        <custom-masonry
          layout="50-50">
          loop posts
          {% set itemList = collections.allPosts %}
          {% asyncEach item in itemList.slice(0, 4) %}
          {% set definedDate = item.date %}
          {% include "partials/card-blog.njk" %}
          {% endeach %}
        </custom-masonry>
      </div>
    </div>
  </section> -->
</div> 